{% extends "base.html" %}
{% block title %}
  Add Comment - Title of Album
{% endblock %}
{% block content %}
<form action="/albums/{{album_id}}" method="post">

<input type="text" name="post_comment_text" value="{{previous_comment_text}}">
<select name="post_comment_rating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
   <option value="7">7</option>
   <option value="8">8</option>
   <option value="9">9</option>
   <option value="10">10</option>
</select>

<input type="submit" value="Add Comment">
</form>
{% endblock %}
