<!DOCTYPE><html><head><link rel="stylesheet" type="text/css" href="album_view.css"</head>
<link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat:700' rel='stylesheet' type='text/css'><body>
<div class ="box">
<img class = "album" src="albums/Sleep - Dopesmoker.jpg" alt="Sleep - Dopesmoker">
	<div class = "infobox">
	<h2>Album: Dopesmoker (Southern Lord reissue)<br />
	Artist: Sleep<br />
	Genre: Stoner/Doom Metal<br />
	Year: 2003<br /></h2>

	<h3>Posted by: Stephen Marcocks<br /></h3>
</div>
<div>	<p><font size="5">Stephen Dickface:</font> Listening to Dopesmoker is like ripping bong hits during a slow motion sandstorm. It's the best parts of Sabbath, except with cranked Metamps and three guys being strung out on some serious conceptual shit. Dopesmoker is a pilgrimage, an hour-long journey to the heart of the sand sea. It works too, the percussion perfectly in time with the guitars, the bass high in the mix, and the vocals booming over everything. Sleep has never been better.<br /><br />

Everyone who's anyone who likes anything genre with the prefix “stoner” knows Sleep. They are the flag-bearers of the stoner metal genre, taking Sabbathean doom and Iommi worshiping riffs and melding them into three amazing albums. Holy Mountain is good, like really fucking good, with a bunch of classic songs. But Dopesmoker is where Sleep really went off the deep end; an hour long song chronicling the journey of the weedians across the sand sea. That's fucking hype. It takes a special kind of stoner to appreciate all the biblical stuff allusions in the lyrics, the kind of stoner that went to Sunday school as a kid and things just sort of stuck. Sleep, as a band, are also at their tightest on this album, making Dopesmoker that much more awesome.<br /><br />
Al Cisneros is God. A bass wielding, chanting God. His bass on this album doesn't have the effects on it that it did on Holy Mountain, but that's kind of a good thing. His bass is quite deafening, and is very much as big a part of the music as the guitar is, and his playing is superb as always. His vocals are also different from Holy Mountain, being less of a relaxed chant, and more of a booming howl. It fits the colossal tone of Dopesmoker just fine, but I prefer his more relaxed vocals.<br /><br />

Matt Pike is the new Tony Iommi. No joke, once Iommi kicks the bucket, Matt Pike will be heralded as the new guitar God. His riffs on Dopesmoker are colossal, gargantuan affairs. His solos are less frantic and schizophrenic than those on Holy Mountain, but they still kick ass. In my opinion, these are some of the best riffs and solos he's ever created. High on Fire is good, but this is his magnum opus.<br /><br />

Chris Hakius is the backbeat, he's the guy behind Matt and Al, pounding away at the drums with the primal force of a thousand stoned cavemen. He truly is underrated in my opinion. His work on all of Sleep's albums, especially this one, are testaments to stamina and skill, and he's damn good at what he does. Not to mention his work on Om's first few albums. He keeps things simple on this album, veering off into something different, but always returning with the main riff to add the correct accent to the music. It's truly a shame he retired from music.<br /><br />

I can't say more good things about Dopesmoker. This is one of the best stoner metal albums out there. All the performers are at their best here, except Al who ascended into something greater when he formed Om, and the song is expertly crafted. Light some incense, turn the lights down, get some food, burn one up, and listen to Dopesmoker; it'll rock your world.<p></div>
</div>
