<!DOCTYPE><html><head><link rel="stylesheet" type="text/css" href="/stylesheets/album_view.css"</head>
<link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat:700' rel='stylesheet' type='text/css'><body>
<div class ="box">
<img class = "album" src="http://placekitten.com/g/300/300" alt="{{album_name}}">
	<div class = "infobox">
	<h2>Album: {{album_name}}<br />
	Artist: {{album_artist}}<br />
	Genre: {{album_genre}}<br />
	Year: {{album_year}}<br /></h2>

	<h3>Posted by: {{album_posted_by}}<br /></h3>
	<a href="/addcomment/{{album_id}}"><button>{{action}} Comment</button></a><br />
	<a href="/communities/{{community_id}}"><button>Return to community</button></a><br />
</div>

<!-- template for a paragraph
<div><p><font size="5">Stephen:</font> Listening to Dopesmoker is like ripping bong hits during a slow motion sandstorm. It's the best parts of Sabbath, except with cranked Metamps and three guys being strung out on some serious conceptual shit. Dopesmoker is a pilgrimage, an hour-long journey to the heart of the sand sea. It works too, the percussion perfectly in time with the guitars, the bass high in the mix, and the vocals booming over everything. Sleep has never been better.<br /><br />

I can't say more good things about Dopesmoker. This is one of the best stoner metal albums out there. All the performers are at their best here, except Al who ascended into something greater when he formed Om, and the song is expertly crafted. Light some incense, turn the lights down, get some food, burn one up, and listen to Dopesmoker; it'll rock your world.<p></div> -->
