<!DOCTYPE><html><head><link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat:700' rel='stylesheet' type='text/css'><link rel="stylesheet" type="text/css" href="community_view.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></head><body>

<script language="javascript" type="text/javascript" src="jquery-1.11.1.min.js"></script><script src="fadermagic.js"></script>

<div  style="width:100%"><h1>	Mountain House Hobbits</h1>
<div class="navbar">
	<div class="btn-group">
  <button type="button" class="btn btn-default">Manage Users</button>
  <button type="button" class="btn btn-default">Add an Album</button>
</div>
<!--<form style = "display:inline;" action="/my/link/location" method="get">
    <input type="submit" value="Manage Users" 
         name="Submit" id="frm1_submit" />
</form>
<form style = "display:inline;" action="/my/link/location" method="get">
    <input type="submit" value="Add an Album" 
         name="Submit" id="frm1_submit" />
</form>-->
	</div>
<div class="box">
<div class="album">
  <a href="Angel Witch - Angel Witch.jpg.htm">
    <img class="album_art" src="albums/Angel Witch - Angel Witch.jpg" alt="Angel Witch - Angel Witch.jpg">
  </a>
  <p><b>Angel Witch</b><br />Angel Witch</p>
</div>

<div class="album">
  <a href="Anthrax - Among the Living.png.htm">
    <img class="album_art" src="albums/Anthrax - Among the Living.png" alt="Anthrax - Among the Living.png">
  </a>
  <p><b>Anthrax</b><br />Among the Living</p>
</div>

<div class="album">
  <a href="Arsis - A Celebration of Guilt.jpg.htm">
    <img class="album_art" src="albums/Arsis - A Celebration of Guilt.jpg" alt="Arsis - A Celebration of Guilt.jpg">
  </a>
  <p><b>Arsis</b><br />A Celebration of Guilt</p>
</div>

<div class="album">
  <a href="Artillery - By Inheritence.jpg.htm">
    <img class="album_art" src="albums/Artillery - By Inheritence.jpg" alt="Artillery - By Inheritence.jpg">
  </a>
  <p><b>Artillery</b><br />By Inheritence</p>
</div>

<div class="album">
  <a href="Baroness - Blue Record.jpg.htm">
    <img class="album_art" src="albums/Baroness - Blue Record.jpg" alt="Baroness - Blue Record.jpg">
  </a>
  <p><b>Baroness</b><br />Blue Record</p>
</div>

<div class="album">
  <a href="Black Sabbath - Black Sabbath.jpg.htm">
    <img class="album_art" src="albums/Black Sabbath - Black Sabbath.jpg" alt="Black Sabbath - Black Sabbath.jpg">
  </a>
  <p><b>Black Sabbath</b><br />Black Sabbath</p>
</div>

<div class="album">
  <a href="Black Sabbath - Paranoid.jpg.htm">
    <img class="album_art" src="albums/Black Sabbath - Paranoid.jpg" alt="Black Sabbath - Paranoid.jpg">
  </a>
  <p><b>Black Sabbath</b><br />Paranoid</p>
</div>

<div class="album">
  <a href="Bolt Thrower - Those Once Loyal.jpg.htm">
    <img class="album_art" src="albums/Bolt Thrower - Those Once Loyal.jpg" alt="Bolt Thrower - Those Once Loyal.jpg">
  </a>
  <p><b>Bolt Thrower</b><br />Those Once Loyal</p>
</div>

<div class="album">
  <a href="Burzum - Filosofem.jpg.htm">
    <img class="album_art" src="albums/Burzum - Filosofem.jpg" alt="Burzum - Filosofem.jpg">
  </a>
  <p><b>Burzum</b><br />Filosofem</p>
</div>

<div class="album">
  <a href="City - Strapping Young Lad.jpg.htm">
    <img class="album_art" src="albums/City - Strapping Young Lad.jpg" alt="City - Strapping Young Lad.jpg">
  </a>
  <p><b>City</b><br />Strapping Young Lad</p>
</div>

<div class="album">
  <a href="Coroner - Mental Vortex.PNG.htm">
    <img class="album_art" src="albums/Coroner - Mental Vortex.PNG" alt="Coroner - Mental Vortex.PNG">
  </a>
  <p><b>Coroner</b><br />Mental Vortex</p>
</div>

<div class="album">
  <a href="Coroner - No More Color.jpg.htm">
    <img class="album_art" src="albums/Coroner - No More Color.jpg" alt="Coroner - No More Color.jpg">
  </a>
  <p><b>Coroner</b><br />No More Color</p>
</div>

<div class="album">
  <a href="Death - Human.jpg.htm">
    <img class="album_art" src="albums/Death - Human.jpg" alt="Death - Human.jpg">
  </a>
  <p><b>Death</b><br />Human</p>
</div>

<div class="album">
  <a href="Dimmu Borgir - Enthrone Darkness Triumphant.jpg.htm">
    <img class="album_art" src="albums/Dimmu Borgir - Enthrone Darkness Triumphant.jpg" alt="Dimmu Borgir - Enthrone Darkness Triumphant.jpg">
  </a>
  <p><b>Dimmu Borgir</b><br />Enthrone Darkness Triumphant</p>
</div>

<div class="album">
  <a href="Dio - Holy Diver.jpg.htm">
    <img class="album_art" src="albums/Dio - Holy Diver.jpg" alt="Dio - Holy Diver.jpg">
  </a>
  <p><b>Dio</b><br />Holy Diver</p>
</div>

<div class="album">
  <a href="Dying Fetus - Destroy the Opposition.jpg.htm">
    <img class="album_art" src="albums/Dying Fetus - Destroy the Opposition.jpg" alt="Dying Fetus - Destroy the Opposition.jpg">
  </a>
  <p><b>Dying Fetus</b><br />Destroy the Opposition</p>
</div>

<div class="album">
  <a href="Emperor - In The Nightside Eclipse.jpg.htm">
    <img class="album_art" src="albums/Emperor - In The Nightside Eclipse.jpg" alt="Emperor - In The Nightside Eclipse.jpg">
  </a>
  <p><b>Emperor</b><br />In The Nightside Eclipse</p>
</div>

<div class="album">
  <a href="Havok - Time is Up.jpg.htm">
    <img class="album_art" src="albums/Havok - Time is Up.jpg" alt="Havok - Time is Up.jpg">
  </a>
  <p><b>Havok</b><br />Time is Up</p>
</div>

<div class="album">
  <a href="Judas Priest - Painkiller.JPG.htm">
    <img class="album_art" src="albums/Judas Priest - Painkiller.JPG" alt="Judas Priest - Painkiller.JPG">
  </a>
  <p><b>Judas Priest</b><br />Painkiller</p>
</div>

<div class="album">
  <a href="Judas Priest - Sad Wings of Destiny.jpg.htm">
    <img class="album_art" src="albums/Judas Priest - Sad Wings of Destiny.jpg" alt="Judas Priest - Sad Wings of Destiny.jpg">
  </a>
  <p><b>Judas Priest</b><br />Sad Wings of Destiny</p>
</div>

<div class="album">
  <a href="Manilla Road - Crystal Logic.jpg.htm">
    <img class="album_art" src="albums/Manilla Road - Crystal Logic.jpg" alt="Manilla Road - Crystal Logic.jpg">
  </a>
  <p><b>Manilla Road</b><br />Crystal Logic</p>
</div>

<div class="album">
  <a href="Megadeth - Rust in Peace.jpg.htm">
    <img class="album_art" src="albums/Megadeth - Rust in Peace.jpg" alt="Megadeth - Rust in Peace.jpg">
  </a>
  <p><b>Megadeth</b><br />Rust in Peace</p>
</div>

<div class="album">
  <a href="Mercyful Fate - Don't Break the Oath.jpg.htm">
    <img class="album_art" src="albums/Mercyful Fate - Don't Break the Oath.jpg" alt="Mercyful Fate - Don't Break the Oath.jpg">
  </a>
  <p><b>Mercyful Fate</b><br />Don't Break the Oath</p>
</div>

<div class="album">
  <a href="Mercyful Fate - Melissa.png.htm">
    <img class="album_art" src="albums/Mercyful Fate - Melissa.png" alt="Mercyful Fate - Melissa.png">
  </a>
  <p><b>Mercyful Fate</b><br />Melissa</p>
</div>

<div class="album">
  <a href="Metallica - ...And Justice For All.jpg.htm">
    <img class="album_art" src="albums/Metallica - ...And Justice For All.jpg" alt="Metallica - ...And Justice For All.jpg">
  </a>
  <p><b>Metallica</b><br />...And Justice For All</p>
</div>

<div class="album">
  <a href="Metallica - Master of Puppets.jpg.htm">
    <img class="album_art" src="albums/Metallica - Master of Puppets.jpg" alt="Metallica - Master of Puppets.jpg">
  </a>
  <p><b>Metallica</b><br />Master of Puppets</p>
</div>

<div class="album">
  <a href="Nevermore - Dead Heart in a Dead World.jpg.htm">
    <img class="album_art" src="albums/Nevermore - Dead Heart in a Dead World.jpg" alt="Nevermore - Dead Heart in a Dead World.jpg">
  </a>
  <p><b>Nevermore</b><br />Dead Heart in a Dead World</p>
</div>

<div class="album">
  <a href="Opeth - Blackwater Park.jpg.htm">
    <img class="album_art" src="albums/Opeth - Blackwater Park.jpg" alt="Opeth - Blackwater Park.jpg">
  </a>
  <p><b>Opeth</b><br />Blackwater Park</p>
</div>

<div class="album">
  <a href="Overkill - Ironbound.jpg.htm">
    <img class="album_art" src="albums/Overkill - Ironbound.jpg" alt="Overkill - Ironbound.jpg">
  </a>
  <p><b>Overkill</b><br />Ironbound</p>
</div>

<div class="album">
  <a href="Primordial - To the Nameless Dead.jpg.htm">
    <img class="album_art" src="albums/Primordial - To the Nameless Dead.jpg" alt="Primordial - To the Nameless Dead.jpg">
  </a>
  <p><b>Primordial</b><br />To the Nameless Dead</p>
</div>

<div class="album">
  <a href="Rush - 2112.jpg.htm">
    <img class="album_art" src="albums/Rush - 2112.jpg" alt="Rush - 2112.jpg">
  </a>
  <p><b>Rush</b><br />2112</p>
</div>

<div class="album">
  <a href="Rush - Moving Pictures.jpg.htm">
    <img class="album_art" src="albums/Rush - Moving Pictures.jpg" alt="Rush - Moving Pictures.jpg">
  </a>
  <p><b>Rush</b><br />Moving Pictures</p>
</div>

<div class="album">
  <a href="Skeletonwitch - Beyond the Permafrost.jpg.htm">
    <img class="album_art" src="albums/Skeletonwitch - Beyond the Permafrost.jpg" alt="Skeletonwitch - Beyond the Permafrost.jpg">
  </a>
  <p><b>Skeletonwitch</b><br />Beyond the Permafrost</p>
</div>

<div class="album">
  <a href="Slayer - Reign in Blood.jpg.htm">
    <img class="album_art" src="albums/Slayer - Reign in Blood.jpg" alt="Slayer - Reign in Blood.jpg">
  </a>
  <p><b>Slayer</b><br />Reign in Blood</p>
</div>

<div class="album">
  <a href="Slayer - Seasons in the Abyss.jpg.htm">
    <img class="album_art" src="albums/Slayer - Seasons in the Abyss.jpg" alt="Slayer - Seasons in the Abyss.jpg">
  </a>
  <p><b>Slayer</b><br />Seasons in the Abyss</p>
</div>

<div class="album">
  <a href="Sleep - Dopesmoker.jpg.htm">
    <img class="album_art" src="albums/Sleep - Dopesmoker.jpg" alt="Sleep - Dopesmoker.jpg">
  </a>
  <p><b>Sleep</b><br />Dopesmoker</p>
</div>

<div class="album">
  <a href="Sleep - Sleep's Holy Mountain.jpg.htm">
    <img class="album_art" src="albums/Sleep - Sleep's Holy Mountain.jpg" alt="Sleep - Sleep's Holy Mountain.jpg">
  </a>
  <p><b>Sleep</b><br />Sleep's Holy Mountain</p>
</div>

<div class="album">
  <a href="Suffocation - Breeding the Spawn.jpg.htm">
    <img class="album_art" src="albums/Suffocation - Breeding the Spawn.jpg" alt="Suffocation - Breeding the Spawn.jpg">
  </a>
  <p><b>Suffocation</b><br />Breeding the Spawn</p>
</div>

<div class="album">
  <a href="The Faceless - Planetary Duality.jpg.htm">
    <img class="album_art" src="albums/The Faceless - Planetary Duality.jpg" alt="The Faceless - Planetary Duality.jpg">
  </a>
  <p><b>The Faceless</b><br />Planetary Duality</p>
</div>

<div class="album">
  <a href="The Lord Weird Slough Feg - Hardworlder.png.htm">
    <img class="album_art" src="albums/The Lord Weird Slough Feg - Hardworlder.png" alt="The Lord Weird Slough Feg - Hardworlder.png">
  </a>
  <p><b>The Lord Weird Slough Feg</b><br />Hardworlder</p>
</div>

<div class="album">
  <a href="Vektor - Black Future.png.htm">
    <img class="album_art" src="albums/Vektor - Black Future.png" alt="Vektor - Black Future.png">
  </a>
  <p><b>Vektor</b><br />Black Future</p>
</div>

<div class="album">
  <a href="Warbringer - IV Empires Fall.jpg.htm">
    <img class="album_art" src="albums/Warbringer - IV Empires Fall.jpg" alt="Warbringer - IV Empires Fall.jpg">
  </a>
  <p><b>Warbringer</b><br />IV Empires Fall</p>
</div>
</div>
</div></body></html>
