<!DOCTYPE><html><head>
<title>Community - {{community_name}}</title>
<link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/community_view.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head><body>

<script language="javascript" type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/fadermagic.js"></script>

<div  style="width:100%"><h1>{{community_name}}</h1>
<div class="navbar">
	<div class="btn-group">
  <a href='/communities'><button type="button" class="btn btn-default">Communities</button></a>
  <a href='/manage/{{community_id}}'><button type="button" class="btn btn-default">Manage Users</button></a>
  <a href='/addalbum/{{community_id}}'><button type="button" class="btn btn-default">Add an Album</button></a>
  
</div>
	</div>
<div class="box">

<!--template for one album
<div class="album">
  <a href="/albums/1">
    <img class="album_art" src="http://placekitten.com/g/250/250" alt="Album Artwork">
  </a>
  <p><b>Album</b><br />Artist</p>
</div>

<!-- end template for one album -->


